<header class="header">
	<nav class="top-nav">
		<div class="nav-item"></div>
		<div class="nav-item"></div>
		<div class="nav-item"></div>
	</nav>
</header>

<main class="rotator-container">
	<section class="next-button">
	</section>

	<section class="rotator">
	</section>
</main>

<footer>
</footer>