<header class="header">
	<nav class="top-nav">
		<div class="nav-item">
			<a href="/" class="nav-link">Home</a>
		</div>
		<div class="nav-item"></div>
		<div class="nav-item"></div>
	</nav>
</header>

<main class="rotator-container">
	<aside class="next-container flex">
		<button class="js-next next-button">
			<span class="icon-next"></span>
		</button>
	</aside>

	<section class="rotator js-rotator">
		<iframe src="" class="js-iframe rotator-frame" frameborder="0" sandbox="allow-scripts allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts"></iframe>
	</section>
</main>

<footer>
</footer>
