<header>
	<nav class="top-nav">
		<div class="nav-item"></div>
		<div class="nav-item"></div>
		<div class="nav-item"></div>
	</nav>
</header>
<section class="next-button">

</section>
<section class="rotator">

</section>
<footer>
</footer>